body{
    margin: 0;
    font-family: "Sans Pro", sans-serif;
    font-weight: lighter;
    height: 100%;
}
.background{
    display: block;
    position: fixed;
    background-color: #66FFCC;
    background-size: contain;
    height: 100%;
    width: 100%;
    z-index: -10;
}
/*Menu*/
#othersites{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 14px;
}
.othersite{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
    text-decoration: none;
    color: #515151;
    text-decoration: none;
    padding-top: 15px;
}
.othersite:hover{
    position: relative;
    text-decoration: none;
    color: #515151;
    background-color: #66FFCC;
    background-size: 200px 5px;
    background-position: center top;
}
#title, #sitelinks{
    position: static;
    display: inline-block;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.title{
    font-size: 72px;
    font-weight: heavy;
    margin-top: 30px;
    color: #515151;
}
.sitelink{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    text-decoration: none;
    color: #515151;
}
.sitelink:hover{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    background-color: #66FFCC;
    background-size: 200px 5px;
    background-position: center bottom;
    text-decoration: none;
    color: #515151;
}
.about{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    text-decoration: none;
    color: #515151;
}
/*Content*/
#intro{
    background-color: #66FFCC;
    display: block;
    position: static;
    width: 80%;
    height: 90vh;
    max-height: 600px;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    z-index: 0;
}
#wastes{
    background-image: url("tech.png");
    display: block;
    position: static;
    width: 80%;
    height: 500px;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    z-index: 0;
}
#probinfo, #solutions, #map, #bib{
    background-color: #66FFCC;
    display: block;
    position: static;
    height: 90vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: auto;
    text-align: center;
    align-items: center;
}
#solutions{
    background-color: #66FFCC;
    display: block;
    position: static;
    height: 90vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: auto;
    text-align: center;
    align-items: center;
}
#probinfo{
    animation-name: expand;
    -webkit-animation-name: expand;
}
@keyframes expand {
    from {height: 0vh}
    to {height: 90vh;}
}
@-webkit-keyframes expand {
    from {height: 0vh}
    to {height: 90vh;}
}
#problems{
    display: block;
    position: static;
    height: 50vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: auto;
    text-align: center;
    align-items: center;
}
#probinfo{
    display: none;
}
.abouttext{
    color: white;
}
#about{
    background-color: #66FFCC;
    display: block;
    position: static;
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    overflow-y: auto;
}
/*Assorted Styles*/

.subtitle{
    text-align: justify;
    font-size: 24px;
    line-height: 36px;
}
.centertitle{
    text-align: left;
    font-size: 30px;
    line-height: 36px;
}
.bodylink{
    color: #515151;
    text-decoration: none;
    cursor: pointer;
}
.bodylink:hover{
    color: #515151;
    text-decoration: none;
    cursor: pointer;
}
.linktext{
    display: inline-block;
    vertical-align: -151px;
    font-size: 20px;
}
.battery{
    background-image: url("battery.png");
    background-size: 40px 110px;
    background-repeat: no-repeat;
    background-position: center top; 
    margin: auto;
    display: inline-block;
    height: 160px;
    width: 144px;
}
.battery:hover{
    background-image: url("battery.png");
    background-size: 40px 110px;
    background-repeat: no-repeat;
    background-position: center top; 
    margin: auto;
    display: inline-block;
    height: 160px;
    width: 144px;
}
.computer{
    display: inline-block;
    background-image: url("computer.png");
    background-size: 144px 110px;
    background-repeat: no-repeat;
    height: 160px;
    width: 144px;
}
.computer:hover{
    background-image: url("computer1.png");
    background-size: 144px 110px;
    background-repeat: no-repeat;
    height: 160px;
    width: 144px;
}
.phone{
    display: inline-block;
    background-image: url("phone.png");
    background-size: 93px 110px;
    background-repeat: no-repeat;
    margin-right: 30px;
    height: 160px;
    width: 144px;
}
.phone:hover{
    background-image: url("phone1.png");
    background-size: 93px 110px;
    background-repeat: no-repeat;
    margin-right: 30px;
    height: 160px;
    width: 144px;
}
.tv{
    display: inline-block;
    background-image: url("tv.png");
    background-size: 144px 110px;
    background-repeat: no-repeat;
    height: 160px;
    width: 144px;
}
.tv:hover{
    background-image: url("tv1.png");
    background-size: 144px 110px;
    background-repeat: no-repeat;
    height: 160px;
    width: 144px;
}
.arrow{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(-90deg);
    font-size: 36px;
    vertical-align: middle;
}
