body{
    margin: 0;
    font-family: "Sans Pro", sans-serif;
    font-weight: lighter;
    height: 100%;
    margin: auto;
}

#othersites{
    margin: auto;
    display: inline-block;
}
.othersite{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    text-decoration: none;
    padding-top: 15px;
}
.othersite:hover{
    position: relative;
    text-decoration: none;
    color: rgb(120,110,110);
    background-image: url("gray.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center top;
}
#sitelinks{
	display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 0;
    background-color: white;
}
.sitelink{
    display: inline-block;
    margin-right: 35px;
    height: 50px;
    text-decoration: none;
    color: rgb(94,171,0);
}
.sitelink:hover{
    display: inline-block;
    height: 50px;
    background-image: url("linkgreen.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center bottom;
    text-decoration: none;
    color: rgb(128,194,47);
}
/*Content*/
.section{
    width: 100%;
    overflow-y: auto;
    text-align: center;
    z-index: 0;
    	border-style: solid;
	border-top: 20px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}
#pane1{
    height: 100vh;
    text-align: center;
    background-color: white;
}
#pane2{
    height: 100vh;
    text-align: center;
    background-color: rgb(200,200,200);
}
.title{
	width: 70%;
	max-width: 700px;
	display: inline-block;
	margin-top: 7%;
	margin-bottom: 7%;
}
#wastes{
	width: 100%;
	padding: 0%;
	margin: 0%;
}
.tech{
	display: inline-block;
	width: 200px;
	min-height: 200px;
	border-style: solid;
	border-radius: 120px;
	border-width: 20px;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	vertical-align: middle;
}
#solutions, #problems{
    background-color: white;
}
#map{
    background-color: white;
}
#bib{
background-color: white;
}
/*Assorted Styles*/
br{
    color: rgb(40,40,40);
    line-height: 20px;
    height: 20px;
}
.subtitle{
    text-align: center;
    display: inline;
    font-size: 24px;
    line-height: 36px;
}
.text{
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    max-width: 80%;
    display: inline-block;
}
.smalltext{
	text-align: left;
	font-size: 20px;
	line-height: 36px;
	max-width: 80%;
	display: inline-block;
}
.centertext{
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: black;
}
.bodylink{
    color: rgb(94,171,0);
    text-decoration: none;
    cursor: pointer;
}
.bodylink:hover{
    color: rgb(128,194,47);
    text-decoration: none;
    cursor: pointer;
}
.linktext{
    color: rgb(94,171,0);
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
.linktext:hover{
    color: rgb(128,194,47);
    text-decoration: none;
    cursor: pointer;
}
#battery, #bdes, #bprob, #bsol{
	border-color: rgb(8,54,67);
}
#camera, #cades, #caprob, #casol{
	border-color: rgb(184,236,215);
}
#cellphone, #cedes, #ceprob, #cesol{
	border-color: rgb(71,108,94);
}
#computer, #codes, #coprob, #cosol{
	border-color: rgb(206,240,157);
}
#television, #tdes, #tprob, #tsol{
	border-color: rgb(174,224,1);
}
#bprob, #caprob, #ceprob, #coprob, #tprob, #bsol, #casol, #cesol, #cosol, #tsol, #bdes, #cades, #cedes, #codes, #tdes, #bib, #map{
	display: none;
}
