body{
    margin: 0;
    font-family: "Sans Pro", sans-serif;
    font-weight: lighter;
    height: 100%;
    margin: auto;
}

#othersites{
    margin: auto;
    display: inline-block;
}
.othersite{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    text-decoration: none;
    padding-top: 15px;
}
.othersite:hover{
    position: relative;
    text-decoration: none;
    color: rgb(120,110,110);
    background-image: url("gray.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center top;
}
#sitelinks{
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 0;
    background-color: white;
}
.sitelink{
    display: inline-block;
    margin-right: 35px;
    height: 50px;
    text-decoration: none;
    color: rgb(94,171,0);
}
.sitelink:hover{
    display: inline-block;
    height: 50px;
    background-image: url("linkgreen.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center bottom;
    text-decoration: none;
    color: rgb(128,194,47);
}
/*Content*/
.section{
    width: 100%;
    overflow-y: auto;
    text-align: center;
    z-index: 0;
}
#intro{
    height: 100vh;
    text-align: center;
}
.title{
	width: 70%;
	max-width: 700px;
	display: inline-block;
	margin-top: 7%;
	margin-bottom: 7%;
}
#wastes{
	height: calc(100% - 50px);
	background-color: rgb(119,237,182);
}
.tech{
	display: inline-block;
	min-height: 300px;
	height: 70%;
	max-height: 500px;
	width: calc(80.5% / 5);
	min-width: 200px;
	margin-right: 2%;
	margin-bottom: 2%;
	background-color: white;
	border-style: solid;
	border-width: 0px;
	border-radius: 20px;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
}
#container{
	height: 100vh;
	width: 100%;
	overflow-y: auto;
	text-align: center;
	z-index: 0;
}
#probinfo{
    display: none;
    background-color: white;
    height: 40%;
    min-height: 340px;
}
#solutions{
    background-color: rgb(119,237,182);
    height: 60%;
    min-height: 570px;
}
#map{
    background-color: white;
}
#bib{
background-color: white;
}
/*Assorted Styles*/
br{
    color: rgb(40,40,40);
    line-height: 20px;
    height: 20px;
}
.subtitle{
    text-align: center;
    display: inline;
    font-size: 24px;
    line-height: 36px;
}
.text{
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    max-width: 80%;
    display: inline-block;
}
.smalltext{
	text-align: left;
	font-size: 20px;
	line-height: 36px;
	max-width: 80%;
	display: inline-block;
}
.centertext{
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: black;
}
.bodylink{
    color: rgb(94,171,0);
    text-decoration: none;
    cursor: pointer;
}
.bodylink:hover{
    color: rgb(128,194,47);
    text-decoration: none;
    cursor: pointer;
}
.linktext{
    color: rgb(94,171,0);
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
.linktext:hover{
    color: rgb(128,194,47);
    text-decoration: none;
    cursor: pointer;
}
