body{
    margin: 0;
    font-family: "Sans Pro", sans-serif;
    font-weight: lighter;
    height: 100%;
    margin: auto;
}
#othersites{
    margin: auto;
    text-align: center;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.othersite{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    text-decoration: none;
    padding-top: 15px;
}
.othersite:hover{
    position: relative;
    text-decoration: none;
    color: rgb(120,110,110);
    background-image: url("img/gray.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center top;
}
#sitelinks{
	width: 100%;
	height: 50px;
	text-align: center;
	z-index: 10;
	background-color: rgb(230,230,230);
	top: 0;
}
.sitelink{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    text-decoration: none;
    color: rgb(47,128,194);
}
.sitelink:hover{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    background-image: url("img/linkblue.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center bottom;
    text-decoration: none;
    color: rgb(47,128,243);
}
/*Content*/
.section{
    width: 100%;
        min-height: 600px;
    overflow-y: auto;
    text-align: center;
    z-index: 0;
}
#intro{
    text-align: center;
    background-color: rgb(230,230,230);
    background-image: url(img/background.PNG);
    background-repeat: no-repeat;
    background-size: 100% auto;
/*    overflow-y: hidden;*/
    min-height: 100vh;
}
.title{
	width: 70%;
	max-width: 700px;
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
}
#courses{
	background-image: url(img/bottomright.PNG);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	max-height: 490px;
}
#labs{
	background-image: url(img/topleft.PNG);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	max-height: 490px;
}
#contact{
	background-image: url(img/bottomright.PNG);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	max-height: 490px;
}
#map{
    background-image: url("");
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    height: 763px;
}
/*Assorted Styles*/
br{
    color: rgb(40,40,40);
    line-height: 20px;
    height: 20px;
}
.text{
    text-align: justify;
    font-size: 24px;
    line-height: 36px;
    display: inline-block;
}
.smalltext{
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
}
.subtitle{
    text-align: left;
    font-size: 34px;
    line-height: 72px;
}
.bodylink{
    color: rgb(47,128,194);
    text-decoration: none;
    cursor: pointer;
}
.bodylink:hover{
    color: rgb(47,128,243);
    text-decoration: none;
    cursor: pointer;
}
.linktext{
    color: rgb(47,128,194);
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
.linktext:hover{
    color: rgb(47,128,243);
    text-decoration: none;
    cursor: pointer;
}
/*JS Stuff*/
#cs, #pr12, #apcomp, #pltw, #ddp, #cim, #de, #edd, #mc, #e1, #e4, #e11, #e16, #bre, #cas, #cow, #kry, #sau, #ves, #kie, #dep, #bib, #map{
    display: none;
}
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    background: white;
}
.menu {
    width:1000px;
    margin:0px auto;
}
.menu li {
    margin:0px;
    list-style:none;
}
.menu a {
    transition:all linear 0.15s;
    color:rgb(47,127,194);
}
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:rgb(47,127,243);/*Selected text -- blue*/
}
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display: inline-block;
    position: relative;
    font-size: 24px;
}
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background: white;
}
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background: white;/*Background of tab*/
}
.sub-menu li {
    display:block;
    font-size:18px;
}
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
.sub-menu li a:hover, .sub-menu .current-item a {
    color: rgb(47,128,243);
}
.menu-wrap a
{
    text-decoration: none;
}

#jacobBandSaw
{
	width: 500px;
	left:0px;
	position: absolute;
}

#freyaComputer
{
	width: 500px;
	right: 0px;
	position: absolute;
	margin-top: -200px;
}
