body{
    margin: 0;
    font-family: "Sans Pro", sans-serif;
    font-weight: lighter;
    height: 100vw;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}
/*Menu*/
#menuBar{
    position: static;
    top: 0;
    min-height: 100px;
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
    background-color: rgb(64,64,64);
    vertical-align: -15px;
}
#othersites{
    position: absolute;
    right: 3px;
    top: 0;
    display: inline-block;
    height: 115px;
}
.othersite{
    position: relative;
    display: inline-block;
    height: 115px;
    width: 132px;
    margin-left: -7px;
    margin-bottom: 0px;
    text-decoration: none;
    background-color: blue;
    color: rgb(47,128,194);
}
.othersite:hover{
     position: relative;
    height: 115px;
    background-color: white;
    width: 132px;
    text-decoration: none;
    color: rgb(47,128,243);
}
#title, #sitelinks{
    display: inline-block;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.title{
    font-size: 40px;
    margin: 0px;
    color: lightgray;
}
.sitelink{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    text-decoration: none;
    color: rgb(47,128,194);
}
.sitelink:hover{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    background-image: url("linkblue.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center bottom;
    text-decoration: none;
    color: rgb(47,128,243);
}
.heading{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    text-decoration: none;
    color: lightgray;
    text-align: justify;
}
/*Content*/
#intro{
    background-color: white;
    display: block;
    position: static;
    width: 80%;
    height: calc(100vh - 130px);
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    align-items: center;
    z-index: 0;
}
#map, #bib, #present{
    background-color: white;
    display: block;
    position: static;
    height: calc(100vh - 50px);
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: auto;
}
#present2{
    background-color: white;
    display: block;
    position: static;
    min-height: 500px;
    max-height: 90vh;
    padding: 0;
}
.lab{
    display: inline-block;
    position: static;
    background-color: blue;
    width: 49%;
    height: 230px;
    margin-left: 0;
}
.lab:hover{
    background-color: red;
}
#about, #labs, #classes{
    background-color: rgb(74,74,74);
    display: block;
    padding: 0;
    position: static;
    overflow-y: auto;
    text-align: center;
}
#e1{
    
}
#e4{
    
}
#e11{
    background-image: url("e11.jpg");
}
#e16{
    
}
/*Assorted Styles*/

.abouttext{
    color: white;
}
.subtitle{
    text-align: justify;
    font-size: 24px;
    line-height: 36px;
}
.centertitle{
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}
.bodylink{
    color: rgb(47,128,194);
    text-decoration: none;
    cursor: pointer;
}
.bodylink:visited{
    color: rgb(47,128,194);
    text-decoration: none;
    cursor: pointer;
}
.bodylink:hover{
    color: purple;
    text-decoration: none;
    cursor: pointer;
}
.linktext{
    display: inline-block;
    vertical-align: -151px;
    font-size: 20px;
}
.arrow{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(-90deg);
    font-size: 36px;
    vertical-align: middle;
}
.nodisplay{
    display: none;
}
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Sans pro';
}
 
.menu a {
    transition:all linear 0.15s;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
}
 
.menu .arrow {
    font-size:24px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:24px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li         ```````````a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
