body{
    margin: 0;
    font-family: "Sans Pro", sans-serif;
    font-weight: lighter;
    height: 100%;
    margin: auto;
}
/*Menu*/
#menu{
    background-image: url("techlogo.png");
    background-repeat: no-repeat;
    background-size: 200px 100px;
    position: absolute;
    width: 80%;
    height: 120px;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 1;
}
#filler{
    height: 150px;
}
#othersites{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 115px;
}
.othersite{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    text-decoration: none;
    padding-top: 15px;
}
.othersite:hover{
    position: relative;
    text-decoration: none;
    color: rgb(120,110,110);
    background-image: url("gray.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center top;
}
#title, #sitelinks{
    position: static;
    display: inline-block;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.title{
    font-size: 60px;
    font-weight: heavy;
    margin: 0px;
    color: gray;
}
.sitelink{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    text-decoration: none;
    color: rgb(47,128,194);
}
.sitelink:hover{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    background-image: url("linkblue.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center bottom;
    text-decoration: none;
    color: rgb(47,128,243);
}
/*Content*/
.section{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    min-height: 600px;
    z-index: 0;
}
#intro{
    background-image: url("techbackground.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 90vh;
    max-height: 600px;
}
#courses{
    min-height: 400px;
}
#labs{
}
#contact{
}
#about{
    background-color: rgb(64,64,64);
    position: static;
    height: 60px;
    width: 100%;
}
#map{
    background-image: url("");
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    height: 763px;
}
/*Assorted Styles*/
br{
    color: rgb(40,40,40);
    line-height: 20px;
    height: 20px;
}
.subtitle{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
}
.text{
    text-align: justify;
    font-size: 24px;
    line-height: 36px;
}
.smalltext{
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
}
.centertext{
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}
.bodylink{
    color: rgb(47,128,194);
    text-decoration: none;
    cursor: pointer;
}
.bodylink:hover{
    color: rgb(47,128,243);
    text-decoration: none;
    cursor: pointer;
}
.linktext{
    color: rgb(47,128,194);
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
.linktext:hover{
    color: rgb(47,128,243);
    text-decoration: none;
    cursor: pointer;
}
.about{
    color: lightgray;
    font-size: 36px;
    margin-left: 10%;
    margin-right: 50px;
}
.arrow{
    display: inline-block;
    margin-top: ;
   -webkit-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   -mz-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 60px;
    vertical-align: middle;
    font-family: 'Zapf Dingbats';
}
/*JS Stuff*/
#cs, #pr12, #apcomp, #pltw, #ddp, #cim, #de, #edd, #mc, #e1, #e4, #e11, #e16, #bre, #cas, #cow, #kry, #sau, #ves{
    display: none;
}
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    background: white;
}
.menu {
    width:1000px;
    margin:0px auto;
}
.menu li {
    margin:0px;
    list-style:none;
}
.menu a {
    transition:all linear 0.15s;
    color:rgb(47,127,194);
}
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:rgb(47,127,243);/*Selected text -- blue*/
}
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display: inline-block;
    position: relative;
    font-size: 24px;
}
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background: white;
}
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background: white;/*Background of tab*/
}
.sub-menu li {
    display:block;
    font-size:18px;
}
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
.sub-menu li a:hover, .sub-menu .current-item a {
    color: rgb(47,128,243);
}
.menu-wrap a
{
    text-decoration: none;
}
